/*Google Fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Nabla&family=Poiret+One&display=swap');

/*CSS variables*/
:root {
    --primary-font: "Didact Gothic", sans-serif;
    --secondary-font: "Poiret One", cursive;
    --logo-font: "Nabla", cursive;
    --background-color: #4C004C; /*purple*/
    --background-color-light: #28775B; /*casino green*/
    --highlight-light-color: #FFFF00; /* yellow */
    --primary-color: #FF0000; /* red */
    --secondary-color: #FFD700; /* gold */
    --contrast-color: #000000; /* black */
    --primary-button-color: #FFA500; /* orange */
    --secondary-button-color: #00FF00; /* light green */
}

/*Global styles*/

/*Remove default padding and margins*/
* {
    margin: 0;
    padding: 0;
    }


body {
    font-family: var(--primary-font);
}



/*Testing boxes with borders REMOVE LATER*/
section * {
    border: solid 1px;
}

/*Logo styles*/

h1 {
    font-family: var(--logo-font);
}


/*Heading styles*/

h2, h3 {
    font-family: var(--secondary-font);
}


/*Button styles*/

/*Game styles*/

/*Fruit styles*/
.fruit {
    font-size: 40px;
}

/*Fruit column styles*/

.fruit-column{
    height: 186px; /*based on height for fruit which is 62px, 3 times that to show three fruits*/
    overflow: hidden; /*to hide other fruits*/
}

.winning-combination {
    /*background color and border for winning combination, tested that all fruits are visible with this color*/
    border: 2px solid var(--secondary-color);
    background-color: var(--background-color-light);
}

/*Styles winning text in game*/

#winning-text {
    font-family: var(--secondary-font);
    font-weight: 600;
    text-align: center;
    height: 1.5em; /*fits height font*/
    
}


