/*Google Fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Nabla&family=Poiret+One&display=swap');

/*CSS variables*/
:root {
    --primary-font: "Didact Gothic", sans-serif;
    --secondary-font: "Poiret One", cursive;
    --logo-font: "Nabla", cursive;
    --background-color: #4C004C; /*purple*/
    --background-color-light: #28775B; /*casino green*/
    --highlight-light-color: #FFFF00; /* yellow */
    --primary-color: #FF0000; /* red */
    --secondary-color: #FFD700; /* gold */
    --contrast-color: #000000; /* black */
    --primary-button-color: #FFA500; /* orange */
    --secondary-button-color: #00FF00; /* light green */
}