/*Google Fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Nabla&family=Poiret+One&display=swap');

/*CSS variables*/
:root {
    --primary-font: "Didact Gothic", sans-serif;
    --secondary-font: "Poiret One", cursive;
    --logo-font: "Nabla", cursive;
    --background-color: #4C004C; /*purple*/
    --background-color-light: #28775B; /*casino green*/
    --primary-color: #FF0000; /* red */
    --secondary-color: #FFD700; /* gold */
    --primary-button-color: #FFA500; /* orange */
    --secondary-button-color: #105837; /*slightly darker green than casino green, mimics disabled green*/
}

/*Global styles*/


/*Remove default padding and margins*/
* {
    margin: 0;
    padding: 0;
    }


body {
    font-family: var(--primary-font);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: url(../images/background.webp);
    background-color: var(--background-color); /*In case image does not load*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}


/*All text white*/
body * {
    color: #FFFFFF;
}


/*Modal styles, background colour needs to be set to fit white text*/
.modal-content {
    background-color: var(--background-color-light);
}


/*Logo styles*/

h1 {
    font-family: var(--logo-font);
    color: var(--primary-button-color); /*Text colour in case back-up font is used*/
}


@supports (hanging-punctuation: first) and (font: -apple-system-body) and (-webkit-appearance: none) {
    .h1{
        font-family: var(--secondary-font);
        color: var(--primary-button-color);
    }
  }



/*Heading styles*/

h2, h3 {
    font-family: var(--secondary-font);
}


/*Button styles*/

.hold-button {
    background-color: var(--background-color-light);
    color:#FFFFFF;
}

#how-play-button {
    background-color: #000000;
    border: 1px solid var(--background-color-light);
    color: #FFFFFF;

}

#how-play-button:hover, #how-play-button:focus {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

/*When focused, there is an indicator around the buttons so it's clear that the button is in focus*/
/*For How to play and closing buttons with cross in the modals*/

#how-play-button:focus-visible, .btn-close:focus {
   outline: 0;
   -webkit-box-shadow: 0 0 0 0.25rem var(--secondary-color);
           box-shadow: 0 0 0 0.25rem var(--secondary-color);
}

/*Hovered over Hold button slightly darker green, mimics disabled green. This needs to be up so held-button:hover overrides this one.*/
.hold-button:hover, .hold-button:focus {
    background-color: var(--secondary-button-color);
    border-color: var(--secondary-button-color);
}


/*held-button class is added when clicking a HOLD button, changes colour and border*/
/*Changes default hover effect to clicked colour, so you can see it is still red and it gets red directly when clicking, instead of when moving away from button*/
/*Focused important to be red as well, otherwise held buttons are green when focused*/


.held-button, .held-button:hover, .held-button:focus {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: #000000; /*Needs to be black for accessibility, higher contrast*/
}


/*GO button and 404 page button styles*/
#button-go, #error-button {
    background-color: var(--primary-button-color);
    border: 1px solid var(--primary-button-color);
    color: #000000; /*needs to be black for accessibility*/
}

#button-go:hover, #button-go:focus,
#error-button:hover, #error-button:focus {
    background-color: var(--secondary-color);
    border: 1px solid #000000;
    color:#000000;
}

/*Buttons inside modals (quit-button gets later style)*/
.modal-footer button {
    background-color: #000000;
    border-color:#000000;
}

.modal-footer button:hover, .modal-footer button:focus {
    background-color: var(--background-color);
    border-color: var(--background-color);
}

/*Buttons Restart and Quit (including in modal) changed to black background, with black border to override Bootstrap button colours*/
#credit-section button, #button-quit {
    background-color: #000000;
    border: 1px solid #000000;
}

/*Buttons Restart and Quit (incl modal) on hover and focus background colour changed to red*/
/*focus-visible prevents the red colour after clicking while still in focus, as this is not needed and can be obtrusive according to https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible*/
#credit-section button:hover, #button-quit:hover,
#credit-section button:focus-visible, #button-quit:focus-visible,
#result-modal-quit-button:hover, #result-modal-quit-button:focus  {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: #000000; /*Black on red is better for contrast*/
}


/*Game styles*/
#game-section {
    background-color: #000000;
    border: 5px solid var(--secondary-color);
}

#credit-section {
    background-color: var(--background-color-light);
    border: 5px solid #000000;
}


/*Fruit styles*/
.fruit {
    font-size: 40px;
    text-align: center;
}

/*Fruit column styles*/

.fruit-column {
    height: 186px; /*based on height for fruit which is 62px, 3 times that to show three fruits*/
    border: 1px solid var(--secondary-color);
    padding-left: 0; /*Remove unnecessary padding between columns*/
    padding-right: 0;
}

/*To highlight the row what it's all about when there is no winning combination*/
.winning-row {
    background-color: rgba(255, 00, 00, 0.3);
    border: 1px solid rgba(255, 00, 00, 0.3);
    border-left: none; /*No border left and right as it adds to column borders*/
    border-right: none;
}

.winning-combination {
    /*background color and border for winning combination, tested that all fruits are visible with this color*/
    border: 1px solid var(--secondary-color);
    background-color: var(--background-color-light);
    border-left: none; /*No border left and right as it adds to column borders*/
    border-right: none;
}

/*Styles winning text in game*/

#winning-text {
    font-family: var(--secondary-font);
    font-weight: 600;
    text-align: center;
    height: 1.5em; /*fits height font*/
    
}


/*Media queries*/

/*Size until 650 needs more bottom padding than available in Bootstrap (above pb-5) to not overlap background image decoration*/
@media screen and (max-width: 650px) {
main > section.pb-5 {
   padding-bottom: 4rem !important;
}}

/*For screens until 369 the x-padding needs to be 1rem to not distort buttons and still fit in background image*/
@media screen and (max-width: 369px) {
    main > section.pb-5 {
       padding-right: 1rem !important;
       padding-left: 1rem !important;
    }}